{% extends 'ownshop/adminBase.html' %} 

{% block title %} USERS {% endblock title %}


{% block main-content %}

<div class="col-md-9">
  <div class="row justify-content-between">
    <div class="col-sm-9">
      <span class="selectText">Select User to Change</span>
    </div>
    <div class="col-sm-3" style="float: right">
      <button class="addBtn">
        <a href="{% url 'add_user_details' %}">ADD CUSTOMER <span>+</span> </a>
      </button>
    </div> 
  </div>
  <hr style="margin-top: 40px" />

  <div class="row justify-content-center">
    <div class="col-sm-11 bg-light border-top border-bottom pt-1 pb-1">
      <span>Users</span>
    </div>
    {% for user in users %}
    <div class="col-sm-11 bg-light border-top border-bottom pt-1 pb-1 mt-2">
      <span>
        <a href="/adminpage/user/{{user.id}}" class="productName"
          >{{forloop.counter}} => {{user.email}}</a
        >
      </span>
    </div>

    {% empty %}

    <div class="col-sm-11 bg-light border-top border-bottom pt-1 pb-1 mt-2">
      <span class="productName">
        0 Customers
      </span>
    </div>

    {% endfor %}



  </div>
</div>

{% endblock main-content %}
