{% extends 'ownshop/adminBase.html' %}

{% block title %} ORDERS {% endblock title %}


{% block main-content %}

<div class="col-md-9">
  <div class="row justify-content-between">
    <div class="col-sm-9">
      <span class="selectText">Select Orders to Change</span>
    </div>
    <div class="col-sm-3" style="float: right">
      <button class="addBtn">
        <a href="{% url 'add_order_details' %}">ADD ORDER <span>+</span> </a>
      </button>
    </div>
  </div>
  <hr style="margin-top: 40px" />

  <div class="row justify-content-center">
    <div class="col-sm-11 bg-light border-top border-bottom pt-1 pb-1">
      <span>Orders</span>
    </div>
    {% for order in orders %}
    <div class="col-sm-11 bg-light border-top border-bottom pt-1 pb-1 mt-2">
      <span>
        <a href="/adminpage/order/{{order.id}}" class="productName"
          >{{forloop.counter}} => {{order.name}}</a
        >
      </span>
    </div>

    {% empty %}

    <div class="col-sm-11 bg-light border-top border-bottom pt-1 pb-1 mt-2">
      <span class="productName">
        0 Order
      </span>
    </div>

    {% endfor %}



  </div>
</div>

{% endblock main-content %}
